body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2rem;
}
form {
  margin-top: 1rem;
}

#result {
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: all 0.4s ease;
}
.shake {
  animation: shake 0.3s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
